# Binaries for programs and plugins
_obj
*.exe
*.exe~
*.dll
*.o
*.a
*.so
*.dylib
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
*.[568vq]
[568vq].out

# Test binary, built with `go test -c`
*.test
_testmain.go
_test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# IDEs
.idea
